[submodule "webinterface/vendor/noUiSlider"]
	path = webinterface/vendor/noUiSlider
	url = https://github.com/leongersen/noUiSlider
[submodule "simulator"]
	path = simulator
	url = https://github.com/mireq/esp32-simulator.git
