[submodule "simulator/lwip/src"]
	path = simulator/lwip/src
	url = https://git.savannah.nongnu.org/git/lwip.git
[submodule "simulator/freertos/src"]
	path = simulator/freertos/src
	url = https://github.com/mireq/Posix_GCC_Simulator.git
[submodule "simulator/mbedtls/src"]
	path = simulator/mbedtls/src
	url = https://github.com/ARMmbed/mbedtls.git
