/* Palette:
 background: #302b28
 primary: #f74860
 text: #f4f0d8
 minimal-border: #3b3633
 inside-background: #201c1a
 control-background: #3b3633
*/

body, html {
	padding: 0;
	margin: 0;
	background: #302b28;
	color: #f4f0d8;
	font-size: 16px;
	line-height: 1.4;
}

html {
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	font-size: 24px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 24px;
	text-shadow: 0px -1px 0px #000;
}

a {
	color: #f74860;
}

#page_login, #page_connecting, #page_player {
	display: none;
	padding: 24px;
}

body.login #page_login {
	display: block;
}

body.connecting #page_connecting {
	display: block;
}

body.player #page_player {
	display: block;
}

#page_player {
	padding-top: 48px;
}

#page_login, #page_connecting {
	max-width: 320px;
	margin-left: auto;
	margin-right: auto;
}

#page_login .logo, #page_connecting .logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 256px;
	width: 100%;
	opacity: .1;
}

#page_login {
	padding-bottom: 200px;
}

#page_login label {
	display: none;
}

label {
	text-shadow: 0px -1px 0px #000;
	font-weight: normal;
	font-size: 16px;
}

input[type="text"] {
	padding: 12px 16px;
	display: block;
	border: none;
	color: #f4f0d8;
	background: #201c1a;
	border-radius: 0px;
	vertical-align: middle;
	box-sizing: border-box;
	margin: 8px 0;
	width: 100%;
	margin-bottom: 8px;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05), 0px -1px 0px rgba(0, 0, 0, 0.5);
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.4;
}

input[type="text"]:focus {
	outline: 0;
	border-color: #404b68;
}

button {
	border: none;
	color: #f4f0d8;
	background: #f74860;
	display: block;
	width: 100%;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding: 12px 16px;
	text-align: center;
	line-height: 1.4;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2), 0px 1px 0px #000;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}

button.disconnect {
	width: auto;
	position: absolute;
	left: 12px;
	top: 6px;
	font-size: 10px;
	text-transform: uppercase;
	padding: 6px 12px;
	background: transparent;
	box-shadow: none;
	opacity: .5;
}

.spinner {
	margin: 64px auto;
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
}

.spinner > div {
	background-color: #f4f0d8;
	height: 100%;
	width: 6px;
	display: inline-block;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	animation-delay: -1.1s;
}

.spinner .rect3 {
	animation-delay: -1.0s;
}

.spinner .rect4 {
	animation-delay: -0.9s;
}

.spinner .rect5 {
	animation-delay: -0.8s;
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
	}
	20% {
		transform: scaleY(1.0);
	}
}

#page_player h2 {
	font-size: 20px;
	font-weight: 300;
	text-shadow: 0px -1px 0px #000;
	background: #201c1a;
	padding: 12px 24px;
	margin: 24px -24px;
}

#page_player h2:first-of-type {
	padding: 36px 24px 12px 24px;
	margin: -48px -24px 24px -24px;
}

#page_player .logo {
	position: absolute;
	width: 64px;
	height: 64px;
	top: 4px;
	right: 12px;
	opacity: .5;
}

.playlist {
	list-style: none;
	margin: -24px -24px 24px -24px;
	padding: 0;
}

.playlist a {
	display: block;
	text-decoration: none;
	padding: 12px 24px;
	border-top: 1px solid #3b3633;
	font-weight: 300;
	color: #f4f0d8;
}

.playlist li:first-child a {
	border: none;
}

.playlist a:hover, .playlist a:focus {
	background: #f74860;
}

.playlist li {
	padding: 0;
	margin: 0;
}

body .noUi-value {
	cursor: pointer;
}

body .noUi-target {
	height: 6px;
	border-radius: 3px;
	background: #302b28;
	border: none;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05), 0px -1px 0px rgba(0, 0, 0, 0.5);
}

body .noUi-handle {
	border-radius: 14px;
	background: #302b28;
	border: none;
	box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.2);
}

body .noUi-horizontal .noUi-handle {
	width: 28px;
	height: 28px;
	top: -11px;
	right: -14px;
	outline: none;
}

body .noUi-horizontal .noUi-handle:before {
	width: 24px;
	height: 24px;
	border-radius: 12px;
	left: 2px;
	top: 2px;
	background: #201c1a;
	border: none;
}

body .noUi-horizontal .noUi-handle:after {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	left: 9px;
	top: 9px;
	background: #f74860;
	border: none;
}

body .noUi-horizontal .noUi-handle.noUi-active:after {
	background: #f4f0d8;
}

body .noUi-pips-horizontal {
	height: 40px;
	padding: 2px;
	font-size: 10px;
}

body .noUi-marker-horizontal.noUi-marker {
	width: 1px;
	height: 3px;
}

body .noUi-marker-horizontal.noUi-marker-large {
	height: 7px;
}

body .noUi-marker {
	background: #f4f0d8;
	opacity: .25;
}

.volume-control {
	background: #3b3633;
	padding: 32px 32px;
	position: relative;
	margin-top: -24px;
	margin-left: -24px;
	margin-right: -24px;
}

.volume-control .volume-symbol-container {
	position: absolute;
	height: 18px;
	left: 32px;
	right: 32px;
	top: 12px;
	opacity: .25;
}

.volume-control .volume {
	height: 18px;
	width: 100%;
	display: block;
}
